/* =================================================================
     Carteira de Vacina
==================================================================*/
.vacinas .vacina {
    margin-bottom: 20px;
    width: 20%;
}

.vacinas .card {
    cursor: pointer;
}