<div id="agenda-facil" class="container w90 my-5 remedio1">
    <div class="row">
        <div class="col-md-5">
            <img src="~/images/agenda-facil.jpg">
        </div>
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">Como funciona a Agenda Fácil?</h3>
            <p>
                O app AgendaFácil está disponível para download gratuito no Google Play e na Apple Store. Com ele é possível
                agendar, confirmar e cancelar consultas e exames pelo aparelho celular na Unidades Básicas de Saúde (UBS) do município.
                Está disponível em todas as unidades.
            </p>
            <p>
                Para usar o aplicativo pela primeira vez, é preciso retirar um código de acesso no setor de Regulação da sua UBS de referêcia
                (aquela mais próxima à sua casa ou trabalho).
            </p>
            <p>Esse procedimento de retirada de código é semelhante ao utilizado pelas instituições bancárias em relação aos seus respectivos aplicativos.</p>
        </div>
        <div class="col-md-7 text-justify my-5 text-right">
            <h3 class="blue-text">Além do agendamento, o aplicativo oferece outras funções: </h3>
            <p>
                Acompanhamento e gerenciamento dos seus procedimentos agendados e pré-agendados (é possível visualizar a data, horário ou endereço. Você também pode
                desmarcar, cancelar ou reagendar).
            </p>
            <p>Agendamento em Fila de espera (é possível escolher uma data entre as desistências de outros usuários.    </p>
        </div>
        <div class="col-md-5 my-5">
            <img src="~/images/agenda-facil2.jpg">
        </div>
    </div>
</div>
