<div id="sobre-nos" class="container w90 my-5">
    <section class="row">
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">Sobre nós</h3>
            <br>
            <h4 class="blue-text">Carteira de Vacinação Digital</h4>
            <p>
                Para ajudar a sociedade quanto ao controle da imunização, criou-se o Vacina-se, uma
                plataforma que substitui a carteira de vacinação atual para uma digital.
            </p>
            <p>
                Além das consultas sobre o histórico de vacinação do usuário, é possível encontrar
                informações relacionadas à saúde pública, tais como UBS, SUS, UPA e vacinas em
                geral, bem como emissão de alertas para prevenção em épocas de surto.
            </p>
            <p>
                Tudo isso de um jeito fácil de usar. Basta se cadastrar em uma UBS, que sua carteira
                digital está pronta para uso.
            </p>
        </div>
        <div class="col-md-5">
            <img src="images/sobre-nos.jpeg">
        </div>
    </section>
</div>

<div id="noticias" class="container w90 my-4">
    <section class="row">
        <div class="col-md-5">
            <img src="images/tuberculose.jpg">
        </div>
        <div class="col-md-7">
            <h3 class="blue-text">Brasil sem tuberculose</h3>
            <br>
            <p>
                A tuberculose é uma doença séria que ainda existe no Brasil.
                Em 2018 foram diagnosticados mais de 70 mil novos casos da doença no país.
            </p>
            <p>A tuberculose é transmitida de uma pessoa doente para outra pessoa pelo ar. Em situações comuns, como ao falar, espirrar e, principalmente, ao tossir.</p>
            <p>O principal sintoma da tuberculose é a tosse por três semanas ou mais. Sempre que identificar uma pessoa tossindo, lembre-se de investigar a causa.</p>
        </div>
    </section>
</div>

<div id="campanha" class="container w90 text-center">
    <section class="row">
        <div class="col mr-3 my-5">
            <img src="images/campanha1.jpg">
        </div>
        <div class="col mx-3 my-5">
            <img src="images/campanha2.jpg">
        </div>
        <div class="col ml-3 my-5">
            <img src="images/campanha3.jpg">
        </div>
    </section>
</div>

<div id="unidades" class="container w90 text-center">
    <section class="row">
        <div class="col ml-8 my-4">
            <h3 class="blue-text">Unidades</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d20983.57499998438!2d-46.655214260662376!3d-23.5962241910521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1subs!5e0!3m2!1spt-BR!2sbr!4v1568645331242!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>
</div>
