<div id="remedio" class="container w90 my-5 remedio1">
    <section class="row">
        <div class="col-md-5">
            <img src="~/images/remedio-info..JPG">
        </div>
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">Como funciona os medicamentos fornecidos pelo SUS?</h3>
            <p>
                O SUS (Sistema Único de Saúde) distribui muitos remédios de graça, o s medicamentos são distribuídos em
                farmácias nas UBS (Unidades Básicas de Saúde). Nelas, é possível encontrar antibióticos, antidepressivos,
                ansiolíticos, anti-hipertensivos, antifúngicos, anti-inflamatórios, insulina, entre outros. São 280 tipos de remédios
                disponíveis pela rede pública da cidade, distribuídos por quase 500 unidades de saúde.
            </p>
            <p>
                Para conseguir os medicamentos, o consumidor deve ir a uma UBS com receita médica e identidade.
                Caso outra pessoa vá retirá-los, ela deve apresentar, também, a identidade.
            </p>
            <br>
            <h3 class="blue-text">Remédios com desconto</h3>
            <p>
                O SUS oferece ainda o programa Farmácia Popular, que distribui gratuitamente fármacos contra asma, diabetes e hipertensão
                (programa Saúde Não Tem Preço) e dá desconto de até 90% em medicamentos para rinite,
                colesterol, Parkinson, glaucoma, osteoporose, além de fraldas geriátricas e anticoncepcionais.
            </p>
            <br>
        </div>
        <div class="col-md-7 text-justify text-right my-5">
            <h3 class="blue-text">Contraceptivos</h3>
            <p>
                O SUS oferece oito métodos contraceptivos para as mulheres (sendo um deles também para homens), sem que
                seja preciso pagar nada por isso. Veja os que estão disponíveis:
            </p>
            <ul>
                <li>Injetável mensal</li>
                <li>Injetável trimestral</li>
                <li>Minipílula</li>
                <li>Pílula combinada</li>
                <li>Pílula do dia seguinte</li>
                <li>Dispositivo intrauterino (DIU)</li>
                <li>Diafragma</li>
                <li>Preservativos masculino e feminino</li>
            </ul>
        </div>
        <div class="col-md-5 my-5">
            <img class="remedio2" src="~/images/remedio2.JPG">
        </div>
    </section>
</div>