<div id="sus" class="container w90 my-5">
    <section class="row">
        <div class="col-md-5">
            <img src="~/images/sus-hospital.jpg">
        </div>
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">O que é o SUS?</h3>
            <p>
                O Sistema Único de Saúde (SUS) é um dos maiores e mais complexos sistemas de saúde pública do mundo,
                abrangendo desde o simples atendimento para avaliação da pressão arterial, por meio da Atenção Primária,
                até o transplante de órgãos, garantindo acesso integral, universal e gratuito para toda a população do país.
                Com a sua criação, o SUS proporcionou o acesso universal ao sistema público de saúde, sem discriminação.
                A atenção integral à saúde, e não somente aos cuidados assistenciais, passou a ser um direito de todos os
                brasileiros, desde a gestação e por toda a vida, com foco na saúde com qualidade de vida, visando a prevenção
                e a promoção da saúde.
            </p>
            <p>
                A gestão das ações e dos serviços de saúde deve ser solidária e participativa entre os três entes da
                Federação: a União, os Estados e os municípios. A rede que compõe o SUS é ampla e abrange tanto ações
                quanto os serviços de saúde. Engloba a atenção primária, média e alta complexidades, os serviços urgência
                e emergência, a atenção hospitalar, as ações e serviços das vigilâncias epidemiológica,
                sanitária e ambiental e assistência farmacêutica.
            </p>
        </div>
    </section>
</div>
