<div id="upa" class="container w90 my-5 remedio1">
    <div class="row">
        <div class="col-md-5">
            <img src="~/images/upa.jpg">
        </div>
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">Como funciona a UPA?</h3>
            <p>
                Diferente das Unidades Básicas de Saúde, as Unidades de Pronto Atendimento (UPA) têm atendimento 24
                horas e só devem ser buscadas em casos de urgência classificados como quadros agudos (febre alta, desmaio,
                dores de cabeça intensa...) ou crônicos agudizados (hipertenso com pressão muito alta, diabéticos em
                descompensação...). Na unidade, esses usuários recebem os primeiros atendimentos até que sejam considerados
                stáveis para um possível encaminhamento para o hospital, se necessário. Por isso, todas as UPAs estão
                integradas com a REDE de Atenção Básica, SAMU 192 e Hospitais..
            </p>
        </div>
        <div class="col-md-7 text-justify my-5">
            <p>
                Ao chegar, o usuário é classificado de acordo com o grau risco do quadro de saúde atual. Pacientes mais graves, com risco
                de morte, têm prioridade no atendimento. A classificação de risco é feita por meio de cores:
            </p>
            <ul>
                <li><span style="color: #ff0000">VERMELHA – </span>Emergência – ATENDIMENTO IMEDIATO</li>
                <li><span style="color: #ff9900">LARANJA – </span>Muito urgente – ATENDIMENTO EM ATÉ 10 MINUTOS</li>
                <li><span style="color: #e1c114">AMARELA – </span>Urgente – ATENDIMENTO EM ATÉ UMA HORA</li>
                <li><span style="color: #99cc00">VERDE – </span>Pouco Urgente – ATENDIMENTO EM ATÉ DUAS HORAS</li>
                <li><span style="color: #00ccff">AZUL – </span>Pouco Urgente – ATENDIMENTO EM ATÉ QUATRO HORAS</li>
            </ul>
            <p>
                As salas de atendimento também são divididas por cores. Nas salas verde e azul são atendidos os casos que, apesar de agudos,
                não demandam atendimento imediato. Na amarela, estão aqueles que precisam de maior atenção, e certo grau de intervenção.
                Já na sala vermelha, são recebidos os pacientes para intervenção imediata, já que correm risco de morte e/ou agravamento
                do quadro.
            </p>
        </div>
        <div class="col-md-5 my-5 upa2">
            <img src="images/upa2.jpg">
        </div>

        <div class="col-md-5 my-4">
            <img src="~/images/upa3.jpg">
        </div>
        <div class="col-md-7 text-justify my-4">
            <h3 class="blue-text">Veja exemplos de quando você deve procurar uma UPA 24h:</h3>
            <ul>
                <li>Febre alta, acima de 39ºC;</li>
                <li>Fraturas e cortes com pouco sangramento;</li>
                <li>Infarto e derrame;</li>
                <li>Queda com torsão e, dor intensa ou suspeita de fratura;</li>
                <li>Cólicas renais;</li>
                <li>Falta de ar intensa;</li>
                <li>Crises Convulsivas;</li>
                <li>Dores fortes no peito;</li>
                <li>Vômito constante.</li>
            </ul>
        </div>
    </div>
</div>