<div id="vacinacao" class="container w90 my-5">
    <section class="row">
        <div class="col-md-5">
            <img src="~/images/vacinacao.jpg">
        </div>
        <div class="col-md-7 text-justify">
            <h3 class="blue-text">Vacina</h3>
            <p>Ela é considerada uma forma de imunização ativa, pois estimula nosso organismo a produzir substâncias de defesa.</p>
            <p>
                Ao vacinar a população, diminuímos a incidência de determinada doença. À medida que toda a população vai sendo vacinada,
                os índices caem até que nenhum caso seja mais registrado, pois toda a população está protegida.
            </p>
            <br>

        </div>
        <div class="col-md-7 text-justify text-right my-5">
            <h3 class="blue-text">Por que a vacinação é importante?</h3>
            <p>Reduz os números de casos de doenças infecciosas em toda a comunidade, uma vez que a transmissão é diminuída:</p>
            <ul>
                <li>Diminuição do número de hospitalizações;</li>
                <li>Edução de gastos com medicamentos;</li>
                <li>Redução da mortandade;</li>
                <li>Erradicação de doenças.</li>
            </ul>
        </div>
        <div class="col-md-5 my-5">
            <img src="~/images/vacinacao3.jpg">
        </div>
    </section>
</div>
