/* =================================================================
     Header-consulta
==================================================================*/


/* =================================================================
     Carteira de Vacina
==================================================================*/
.consulta-usuario .w90 {
    background: salmon;
    height: 500px;
}

.dropdown .consulta-dropdown {
    width: 600px;
    background: rgb(18, 116, 207);
}

.dropdown-menu .dependentes a {
    width: 600px;
}